.carousel-container {
  margin: 5px 0px 0px 0px;
}

.fixed-picture {
  position: relative;
}

.first-slide-overlay button {
  width: 160px;
  height: 45px;
  border: 1px solid black;
  border-radius: 0%;
  background-color: rgba(0,0,0,0);
  font-size: 14px;
  font-family: Lato, sans-serif;
  float: left;
}

.first-slide-overlay p {
  font-family: 'EB Garamond',Georgia,serif;
  font-size: 40px;
  line-height: 1.25;
  font-weight: 400;
  width: 290px;
  text-align: left;
}

.first-slide-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-101%, -50%);
  -ms-transform: translate(-50%, -50%);
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}

.second-slide-overlay button {
  width: 160px;
  height: 45px;
  border: 1px solid black;
  border-radius: 0%;
  background-color: rgba(0,0,0,0);
  font-size: 14px;
  font-family: Lato, sans-serif;
  float: left;
}

.second-slide-overlay .main {
  font-family: 'EB Garamond',Georgia,serif;
  font-size: 40px;
  line-height: 1.25;
  font-weight: 400;
  width: 240px;
  text-align: left;
}

.second-slide-overlay .secondary {
  text-align: left;
}

.second-slide-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-120%, -50%);
  -ms-transform: translate(-50%, -50%);
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}

.third-slide-overlay button {
  width: 160px;
  height: 45px;
  border: 1px solid black;
  border-radius: 0%;
  background-color: rgba(0,0,0,0);
  font-size: 14px;
  font-family: Lato, sans-serif;
  float: left;
}

.third-slide-overlay .main {
  font-family: 'EB Garamond',Georgia,serif;
  font-size: 40px;
  line-height: 1.25;
  font-weight: 400;
  width: 240px;
  text-align: left;
}

.third-slide-overlay .secondary {
  text-align: left;
}

.third-slide-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-120%, -50%);
  -ms-transform: translate(-50%, -50%);
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}

.fourth-slide-overlay button {
  width: 160px;
  height: 45px;
  border: 1px solid white;
  color: white;
  border-radius: 0%;
  background-color: rgba(0,0,0,0);
  font-size: 14px;
  font-family: Lato, sans-serif;
}

.fourth-slide-overlay p {
  font-family: 'EB Garamond',Georgia,serif;
  font-size: 32px;
  line-height: 1.25;
  font-weight: 400;
  width: 720px;
  text-align: center;
  color: white;
}

.fourth-slide-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 75%);
  -ms-transform: translate(-50%, -50%);
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}

.carousel-footer {
  background-color: #cfd9df;
  height: 70px;
  min-width: 1024px;
  padding: 0px 50px;
  text-align: center;
  padding: 15px 0px 10px;
}

.carousel-footer p {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Lato, sans-serif;
  color: #21282d;
  font-size: 12px;
} 