.carousel-container {
  margin: 5px 0px;
}

.fixed-picture {
  position: relative;
}

.first-slide-overlay button {
  width: 160px;
  height: 45px;
  border: 1px solid black;
  border-radius: 0%;
  background-color: rgba(0,0,0,0);
  font-size: 14px;
  font-family: Lato, sans-serif;
  float: left;
}

.first-slide-overlay p {
  font-family: Poynter,Georgia,serif;
  font-size: 40px;
  line-height: 1.25;
  font-weight: 400;
  width: 290px;
  text-align: left;
}

.first-slide-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-101%, -50%);
  -ms-transform: translate(-50%, -50%);
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}

.second-slide-overlay button {
  width: 160px;
  height: 45px;
  border: 1px solid black;
  border-radius: 0%;
  background-color: rgba(0,0,0,0);
  font-size: 14px;
  font-family: Lato, sans-serif;
  float: left;
}

.second-slide-overlay .main {
  font-family: Poynter,Georgia,serif;
  font-size: 40px;
  line-height: 1.25;
  font-weight: 400;
  width: 240px;
  text-align: left;
}

.second-slide-overlay .secondary {
  text-align: left;
}

.second-slide-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-120%, -50%);
  -ms-transform: translate(-50%, -50%);
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}