.top-divider {
    display: inline-block;
    width: 35%;
    margin-top: 60px;
}

.divider {
    font-family: 'EB Garamond', Georgia, serif;
    text-align: center;
}

.divider h3 {
    display: inline-block;
    margin-right: 11px;
    margin-left: 11px;
}

.slider {
    padding: 10px;
    width: 85%;
    margin: auto;
}

.exclusive-item {
    height: 330px;
    font-size: 12px;
    font-family: Lato, sans-serif;
    font-weight: 300;
    text-align: center;
    line-height: 1;
}

.product-picture {
    height: 75%;
}

.product-info {
    margin: 0 auto;
}

.product-info p {
    border: 1px solid white;
    margin-top: 6px;
    margin-bottom: 6px;
}

.exclusive-item-product-img {
    margin: auto;
    height: 100%;
}

.product-picture hr {
    margin: 0px;
}

.author-link {
    color: darkcyan;
}

#star-rating {
    width: 60%;
    margin: auto;
}
