.top-divider {
    display: inline-block;
    width: 35%;
    margin-top: 60px;
}

.divider {
    font-family: 'EB Garamond', Georgia, serif;
    text-align: center;
}

.divider h3 {
    display: inline-block;
    margin-right: 11px;
    margin-left: 11px;
}

.slider {
    padding: 5px;
    width: 85%;
    margin: auto;
}

.exclusive-item {
    height: 350px;
    font-size: 12px;
    font-family: Lato, sans-serif;
    font-weight: 300;
    text-align: center;
    line-height: 1;
}

.product-picture {
    height: 75%;
}

.product-info {
    margin: 0 auto;
}

.product-info p {
    border: 1px solid white;
    margin-top: 6px;
    margin-bottom: 2px;
    height: 26px;
    overflow: hidden;
}

.exclusive-item-product-img {
    margin: auto;
    height: 100%;
}

.product-picture hr {
    margin: 0px;
}

.author-link {
    color: darkcyan;
}

#star-rating {
    width: 60%;
    margin: 0 auto;
}

.list-footer {
    margin: 50px 0;
}

.list-footer p {
    text-align: center;
    font-size: 11px;
    font-family: Lato, sans-serif;
    line-height: 0;
    color: #5a5a5a;
}

.footer-promotions {
    margin: 0 auto;
    width: 85%;
    font-size: 12px;
    font-family: Lato, sans-serif;
}

.wrapper { 
    display: grid; 
    grid-template-columns: repeat(4, 1fr); 
} 

.grid {
    border: 1px solid #a5a5a5;
    padding: 15px;
    text-align: left;
}

.grid p {
    line-height: 1;
}

.grid .link {
    color: darkcyan;
}

.box1 {
    border-left: 0px;
    padding-left: 0px;
}

.box4 {
    border-right: 0px;
}