<div class="divider">
  <hr class="top-divider">
  <h3>B&N Exclusives</h3>
  <hr class="top-divider">
</div>
<div class="slider">
  <div *ngFor="let book of convertedBookList" class="exclusive-item">
    <div class="product-picture">
      <img class="exclusive-item-product-img" src="../../assets/exclusive-items/{{book.bookImg}}">
      <hr>
    </div>
    <div class="product-info">
      <p class="exclusive-item-product-title">{{book.title}} (B&N Exclusive Edition)</p>
      <p class="exclusive-item-producut-author">by <span class="author-link">{{book.author}}</span></p>
    </div>
    <div class="product-rating">
      <img id="star-rating" src="../../assets/star-ratings/star{{book.starRating}}.png">
    </div>
  </div>
</div>
<div class='list-footer'>
  <p>*Goodnight Goon for $7.99 with purchase of any kids book. </p>
  <p>**Amazing Deals on Harry Potter, Funko POP! & More. Online only. Offer end dates vary.</p>
</div>
<div class="footer-promotions">
  <div class="wrapper">
    <div class="grid box1">
      <p>Barnes and Noble Press</p>
      <p>Barnes and Noble Press</p>
      <p class="link">Learn More ></p>
    </div>
    <div class="grid box2">
      <p>Barnes and Noble Press</p>
      <p>Barnes and Noble Press</p>
      <p class="link">Learn More ></p>
    </div>
    <div class="grid box3">
      <p>Barnes and Noble Press</p>
      <p>Barnes and Noble Press</p>
      <p class="link">Learn More ></p>
    </div>
    <div class="grid box4">
      <p>Barnes and Noble Press</p>
      <p>Barnes and Noble Press</p>
      <p class="link">Learn More ></p>
    </div>
  </div>
</div>