<div class="divider">
  <hr class="top-divider">
  <h3>B&N Exclusives</h3>
  <hr class="top-divider">
</div>
<div class="slider">
  <div class="exclusive-item">
    <div class="product-picture">
      <img class="exclusive-item-product-img" src="../../assets/exclusive-items/unsheltered.jpg">
      <hr>
    </div>
    <div class="product-info">
      <p class="exclusive-item-product-title">Unsheltered (B&N Exclusive Edition)</p>
      <p class="exclusive-item-producut-author">by <span class="author-link">Barbara Kingsolver</span></p>
    </div>
    <div class="product-rating">

    </div>
  </div>
  <div class="exclusive-item">2</div>
  <div class="exclusive-item">3</div>
  <div class="exclusive-item">4</div>
  <div class="exclusive-item">5</div>
  <div class="exclusive-item">6</div>
  <div class="exclusive-item">7</div>
  <div class="exclusive-item">8</div>
  <div class="exclusive-item">9</div>
</div>
