<nav class="header-one navbar">
  <div class="left-header-one">

    <div id="header-carousel" class="carousel slide" data-ride="carousel" data-interval="5000">
      <div class="carousel-inner">
        <div class="carousel-item active text-center">
          <p>Favorite Paperbacks: Buy 2, Get the 3rd Free</p>
        </div>
        <div class="carousel-item text-center">
          <p>Buy 1, Get 1, 50% Off Jigsaw Puzzles</p>
        </div>
        <div class="carousel-item text-center">
          <p>Amazing deals in toys, games and collectibles!</p>
        </div>
        <div class="carousel-item text-center">
          <p>Goodnight Goon Only $7.99 with Purchase</p>
        </div>
      </div>
    </div>

  </div>
  <div class="right-header-one">
    <a href="">Membership</a>
    <a href="">Gift Cards</a>
    <a href="">Stores & Events</a>
    <a href="">Help</a>
  </div>

</nav>

<div class="header-two navbar">
  <img id="logo" src="../../assets/Barnes_&_Noble_logo.svg.png">

  <div class="search-bar">
    <div class="nav-item dropdown" style="float: left;">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        All
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="#">Books</a>
        <a class="dropdown-item" href="#">NOOK Books</a>
        <a class="dropdown-item" href="#">NOOK</a>
        <a class="dropdown-item" href="#">Textbooks</a>
        <a class="dropdown-item" href="#">B&N Outlet</a>
        <a class="dropdown-item" href="#">Newsstand</a>
        <a class="dropdown-item" href="#">Teens</a>
        <a class="dropdown-item" href="#">Kids</a>
        <a class="dropdown-item" href="#">Toys & Games</a>
        <a class="dropdown-item" href="#">Hobbies & Collectibles</a>
        <a class="dropdown-item" href="#">Homes & Gifts</a>
        <a class="dropdown-item" href="#">Movies and TV</a>
        <a class="dropdown-item" href="#">Music</a>
      </div>
    </div>
    <form class="" style="float: left;">
      <button class="btn btn-outline-success my-2 my-sm-0 search-icon" type="submit" style="float: right;"><i class="fas fa-search"></i></button>
      <div style="overflow: hidden;">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      </div>
    </form>
  </div>

  <div class="sign-in-box">
    <p>Hello, Sign In</p>
    <div class="nav-item dropdown" style="float: left;">
      <a class="nav-link dropdown-toggle" href="#" id="signInDropdown" role="button" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        My Account
      </a>
      <div class="dropdown-menu" aria-labelledby="signInDropdown">
        <a class="dropdown-item" href="#">
          <div class="sign-in-menu">
            <button class="btn sign-in-button" type="click">Sign In</button>
            <p>Create an Account</p>
          </div>
        </a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">Manage Account</a>
        <a class="dropdown-item" href="#">Order Status</a>
        <a class="dropdown-item" href="#">My NOOK</a>
        <a class="dropdown-item" href="#">Wishlists</a>
        <a class="dropdown-item" href="#">Address Books</a>
        <a class="dropdown-item" href="#">Payment Methods</a>
      </div>
    </div>
  </div>
</div>