<div class="header-one navbar">
  <div class="left-header-one">

    <div id="carouselContent" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner" role="listbox">
        <div class="carousel-item text-center active">
          <p>Favorite Paperbacks: Buy 2, Get the 3rd Free</p>
        </div>
        <div class="carousel-item text-center">
          <p>Buy 1, Get 1, 50% Off Jigsaw Puzzles</p>
        </div>
        <div class="carousel-item text-center">
          <p>Amazing deals in toys, games and collectibles!</p>
        </div>
        <div class="carousel-item text-center">
          <p>Goodnight Goon Only $7.99 with Purchase</p>
        </div>
      </div>
      <!-- <a class="carousel-control-prev" href="#carouselContent" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselContent" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a> -->
    </div>

    <p>Favorite Paperbacks: Buy 2, Get the 3rd Free</p>
  </div>
  <div class="right-header-one">
    <a href="">Membership</a>
    <a href="">Gift Cards</a>
    <a href="">Stores & Events</a>
    <a href="">Help</a>
  </div>

</div>

<div class="header-two">

</div>