<div class="header-one navbar">
  <div class="left-header-one">

    <div id="header-carousel" class="carousel slide" data-ride="carousel" data-interval="5000">
      <div class="carousel-inner">
        <div class="carousel-item active text-center">
          <p>Favorite Paperbacks: Buy 2, Get the 3rd Free</p>
        </div>
        <div class="carousel-item text-center">
          <p>Buy 1, Get 1, 50% Off Jigsaw Puzzles</p>
        </div>
        <div class="carousel-item text-center">
          <p>Amazing deals in toys, games and collectibles!</p>
        </div>
        <div class="carousel-item text-center">
          <p>Goodnight Goon Only $7.99 with Purchase</p>
        </div>
      </div>
    </div>

  </div>
  <div class="right-header-one">
    <a href="">Membership</a>
    <a href="">Gift Cards</a>
    <a href="">Stores & Events</a>
    <a href="">Help</a>
  </div>

</div>

<div class="header-two navbar">
  <img id="logo" src="../../assets/Barnes_&_Noble_logo.svg.png">

  <div class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
      aria-expanded="false">
      Dropdown
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
      <a class="dropdown-item" href="#">Action</a>
      <a class="dropdown-item" href="#">Another action</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="#">Something else here</a>
    </div>
  </div>

  <form class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>
</div>