<div class="wrapper">
  <div class="box1 grid-box">One</div>
  <div class="box2 grid-box">Two</div>
  <div class="box3 grid-box">
    <h2>B&N Top 100</h2>
    <hr class="divider">
    <div class="top-items-container">
      <h1>1</h1>
      <p class="title">The Wonky Donkey</p>
      <p class="author">by Craig Smith</p>
    </div>
  </div>
  <div class="box4 grid-box grid-box-border">
    <img src="../../assets/HarryPotterBoxSet.jpg">
    <p>Beautiful Boxed Sets</p>
    <p class="link-text">SHOP NOW</p>
  </div>
  <div class="box5 grid-box grid-box-border">Five</div>
  <div class="box6 grid-box">Six</div>
  <div class="box7 grid-box">Seven</div>
  <div class="box8 grid-box grid-box-border">Eight</div>
</div>