.wrapper { 
  display: grid; 
  grid-template-columns: repeat(3, 1fr); 
  grid-auto-rows: 475px; 
} 

hr.divider {
  border: 2px solid black;
  width: 30px;
}

.white-box-overlay {
  width: 234px;
  height: 377px;
  background-color: white;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  border-radius: 0px;
}

.white-box-overlay h2 {
  font-family: 'EB Garamond', Georgia, serif;
  margin: 50px auto;
  margin-top: 50px;
}

.white-box-overlay p {
  font-size: 14px;
  font-weight: 300;
}

.grid-box {
  margin: 5px;
  text-align: center;
  font-family: Lato, sans-serif;
}

.grid-box img {
  width: 95%;
  margin: 40px 0px auto;
}

.grid-box-border {
  border: 1px solid rgb(202, 202, 202);
}

.top-items-container h1 {
  font-family: 'EB Garamond', Georgia, serif;
  display: inline;
  font-size: 70px;
  margin: 10px 35px;
  float: left;
}

.top-items-container p {
  text-align: left;
  margin-right: 5px;
  margin-bottom: 0px;
}

.book-information-container{
  display: inline;
  margin: 10px 55px;
}

.book-information-container .author {
  font-family: Lato, sans-serif;
  font-weight: 300;
  font-size: 14px;
}

.box1 {
  background-image: url("../../assets/teal_background.jpg");
  background-size: cover;
}

.box2 {
  background-image: url("../../assets/blue_pattern.png");
  background-size: cover;
}

.box3 { 
  grid-column-start: 3; 
  grid-column-end: 3; 
  grid-row-start: 1; 
  grid-row-end: 3; 
  background-color: #eeeeed;
}

.box3 h2 {
  margin-top: 50px;
  font-family: 'EB Garamond', Georgia, serif;
}

.box3 button {
  width: 240px;
  color: white;
  background-color: rgb(0, 0, 29);
}

.box4 p, .box5 p {
  margin: 20px 0px auto;
  font-weight: 300;
  margin-top: 5px;
}

.link-text {
  font-weight: bold;
  text-decoration: underline;
}

.box5 {
  background-image: url("../../assets/book_better.jpg");
  background-size: contain;
}

.box5 .text-container {
  margin-top: 370px;
}

.box6 {
  background-color: #dfdfd5c9;
  text-align: center;
}

.box6 h2 {
  margin: 50px auto;
  margin-top: 100px;
  width: 280px;
}