<div class="wrapper">
  <div class="box1 grid-box">One</div>

  <div class="box2 grid-box">Two</div>

  <div class="box3 grid-box">
    <h2>B&N Top 100</h2>
    <hr class="divider">
    <div class="top-items-container">
      <h1>1</h1>
      <div class="book-information-container">
        <p class="title">The Wonky Donkey</p>
        <p class="author">by Craig Smith</p>
      </div>
    </div>
    <br>
    <div class="top-items-container">
      <h1>2</h1>
      <div class="book-information-container">
        <p class="title">The Mamba Mentality: How I Play</p>
        <p class="author">by Kobe Bryant</p>
      </div>
    </div>
    <br>
    <div class="top-items-container">
      <h1>3</h1>
      <div class="book-information-container">
        <p class="title">The Reckoning</p>
        <p class="author">by John Grisham</p>
      </div>
    </div>
    <br>
    <div class="top-items-container">
      <h1>4</h1>
      <div class="book-information-container">
        <p class="title">Whose Boat Is This Boat?: Comments That Don't Help...</p>
        <p class="author">by The Staff of The Late Show with Stephen Colbert</p>
      </div>
    </div>
    <br>
    <div class="top-items-container">
      <h1>5</h1>
      <div class="book-information-container">
        <p class="title">Kingdom of Ash (Throne of Glass Series #7)</p>
        <p class="author">by Sarah J. Maas</p>
      </div>
    </div>
    <button class="btn" type="click">See All</button>
  </div>

  <div class="box4 grid-box grid-box-border">
    <img src="../../assets/HarryPotterBoxSet.jpg">
    <p>Beautiful Boxed Sets</p>
    <p class="link-text">SHOP NOW</p>
  </div>

  <div class="box5 grid-box grid-box-border">Five</div>

  <div class="box6 grid-box">
    <h2>Amazing Deals on Harry Potter, Funko POP! & More**</h2>
    <hr class="divider">
    <p>Hurry, for a limited time!</p>
    <p class="link-text">SHOP NOW</p>
  </div>

  <div class="box7 grid-box">Seven</div>

  <div class="box8 grid-box grid-box-border">Eight</div>

</div>