.wrapper { 
  display: grid; 
  grid-template-columns: repeat(5, 1fr);
  width: 85%;
  margin: auto;
  font-size: 12px;
  font-family: Lato, sans-serif;
} 

.category_title {
  font-size: 15px;
}

.link {
  font-weight: 300;
  margin: 5px 0px;
  width: 60%;
  color: darkcyan;
  display: block;
}

.footer {
  margin-top: 60px;
  width: 85%;
}

.footer hr {
  width: 85%;
}

.footer-list {
  margin-left: 1%;
}

.footer-list li {
  display: inline;
  font-size: 12px;
  font-weight: 300;
  margin: 5px 0px;
  margin: 5px 20px;
}

.footer-list li a {
  color: darkcyan;
}